* {
	font-family: 'Open Sans';
	font-weight: 400;
}

*:focus{
  outline:none;
}

html, body{
	margin: 0;
	padding: 0;
	font-size: 12px;
}

/*.dialog{
  margin:500px auto;
  color:green;
}*/

h1{
	font-size:4em;
	font-weight: 300;
	text-align:center;
	color:black;
	margin:15px 15px 0px 15px;
}

h2{
	font-size:2em;
}

.intro h2{
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0 20px 10px;
}

.bold{
	font-weight: 700;
	font-size: 1.2em;
}

a {
    text-decoration: none;
}

span{
	font-weight: 800;
}

.container{
	position:absolute;
	/*background:gray;*/
	width:100%;
	height:100%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

#genre, #decade, #sfx, #pg, #minYear,#maxYear{
	display:none;
}

.question h2{
	text-transform: uppercase;
	letter-spacing: 2px;
}

.top{
	width:100%;
	background-color: #FFDD00;
	font-weight: 300;
	position: relative;
    z-index: 5;
}

.content{
	display: -webkit-flex;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	text-align:center;
	width:100%;
	background:white;
	padding: 10px 0px 10px 0px;
	-webkit-flex: 1 1 auto;
}

.results{
	width:100%;
	-webkit-transition: all 1s linear;
}

.items{
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	-webkit-align-items:center;
}

.item img{
	width:100%;
	height:100%;
}
.button, #end {
  background-color: white;
  font-family: 'Open Sans';
  font-size: 2em;
  text-transform: uppercase;
  padding: 15px;
  border: 4px solid #000;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  text-align: center;
  letter-spacing: 3px;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 25;
}

.button:hover, #end:hover{
  background-color: black;
  color: white;
}

#page1{
	margin: auto;
	width:600px;
}

.genreBtn{
	width:170px;
	background-color: white;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 14px;
  border: 3px solid #000;
  margin: 8px 5px;
  display: block;
  cursor: pointer;
  text-align: center;
  letter-spacing: 3px;
	transition-property: color, background-color;
	transition: 0.3s ease-in-out;
}

.genreBtn:hover{
	transform: scale(1.1);
	background-color: black;
	color: white;
}

.button-area{
	margin: 10px auto;
	display: flex;
	flex-direction: row;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
	flex-wrap: wrap;
  padding: 1em 2.4em;
  font-size: .9em;
  /*margin: 1em;*/
  color: white;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.yn-button-area{
	margin: auto;
	display: flex;
	flex-direction: row;
  -webkit-flex-flow: row wrap;
  justify-content: center;
	flex-wrap: wrap;
  font-size: .9em;
  /*margin: 1em;*/
  color: white;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}


.overflow{
	display: -webkit-flex;
	-webkit-flex-direction: column;
	overflow:hidden;
}

.question{
	padding: 50px 15px 50px 15px;
}


.footer{
	text-align:right;
	width:100%;
	background:black;
	padding: 5px 0px 5px 0px;
	height:60px;
}

.foot{
	margin-right:20px;
}

/*changes colour of slider (not active)*/
[id*=flat-slider].ui-slider,
[id*=flat-slider].ui-slider .ui-slider-pip .ui-slider-line {
  background: yellow;
}

/*changes border of slider*/
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-hover,
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-focus,
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-active {
  border-color: black;
}

/*needs to go in a div or it dies*/
.stuff {
  padding: 50px 50px 50px;
  max-width: 700px;
  margin: auto;
}

<<<<<<< 98971d31c3cc16ba629e75cde756e0c33e953311
/*body {
  background: #555555;
}*/

=======
>>>>>>> Added Movies && Changed JS
#chosenYears{
  font-size:3em;
  padding-bottom: 30px;
}

#flat-slider{
	margin:auto;
	width:75%
}

#flat-slider.ui-slider {
  background: black;
  border: none;
  border-radius: 0;
}

#flat-slider.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 0;
  border-color: transparent;
  transition: border 0.4s ease;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  top: -25px;
  background:black;
  margin-left: -10px;
}

#flat-slider.ui-slider .ui-slider-handle.ui-state-hover,
#flat-slider.ui-slider .ui-slider-handle.ui-state-focus,
#flat-slider.ui-slider .ui-slider-handle.ui-state-active {
  border-color: #172f38;
	background:black;
}

#flat-slider.ui-slider .ui-slider-pip .ui-slider-line {
  background: #FFDD00;
  transition: all 0.4s ease;
}

#flat-slider.ui-slider.ui-slider-horizontal {
  height: 6px;
}

#flat-slider.ui-slider .ui-slider-pip .ui-slider-label {
    color:black;
		font-size: 30px;
    padding-top: 30px;
    margin-bottom:30px;
	}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
  top: 10px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
  width: 2px;
  height: 6px;
  margin-left: -1px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
  height: 20px;
}

#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  height: 12px;
}

#flat-slider .ui-slider-range,
#flat-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
#flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  background-color: #CCC;
}


.scroller {
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  height: 268px;
  position: relative;
  overflow:hidden;
}

.scroller:before {
  content: "";
  display: table;
  clear: both;
}

.scroller:after {
  content: "";
  display: table;
  clear: both;
}

.scroller .items {
  height: 100%;
  /*background-color: green;*/
  position: absolute;

}

.scroller .item {
  background-color: #FFDD00;
  margin-left: 10px;
  float: left;
  width: 150px;
  height: 221px;
	-webkit-transition: width 1s, height 1s;
}

.scroller .scroll {
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.4; */
  height: 100%;
  width: 100px;
  position: absolute;
  z-index: 2000;
  visibility: hidden;
  font-size: 50px;
  padding-top: 104px;
  color: white;
}

.scroller .scroll.right {
  right: 0px;
}

.scroller:hover .scroll {
  visibility: visible;
}

.item:hover{
	width: 182px;
  height: 268px;
}

.smedia{
	padding-right:10px;
}

.title{
	padding-top:50px;
	letter-spacing: 4px;
	text-transform: uppercase;
  margin:0 auto;
  font-size: 3.5rem;
	font-weight:600;
 }

 .dir{
 	letter-spacing: 4px;
 	text-transform: uppercase;
   margin:0 auto;
	 	width:700px;
   font-size: 2.5rem;
 	font-weight:400;
	padding:10px 0px 30px 0px;
  }

.dialog{
  margin:0 auto;
	text-align:left;
  font-size: 2rem;
	width:700px;
	letter-spacing: 1px;
	line-height: 40px;
	text-transform: uppercase;

  /*background:yellow;*/

 }

@-webkit-keyframes left_scroll {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes right_scroll {
  0% {
    right: 0px;
  }
  100% {
    right: 100%;
  }
}
