/*GENERAL CSS DECLARATIONS*/
* {
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
}

*:focus {
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

a {
  text-decoration: none;
}

p {
	font-size:1.5em;
	letter-spacing: 2px;
	text-transform:none;
}

h1{
	font-size:4em;
	font-weight: 300;
	margin:15px 15px 0px 15px;
}

h2{
	font-size:2em;
	font-weight: 700;
	letter-spacing: 2px;
}

span{
	font-weight: 800;
}


/*DIVS ON BOTH PAGES*/
/*the main div that contains all other divs
a flex box!!*/
.container{
	position:absolute;
	width:100%;
	height:100%;

	display: -webkit-flex;
	-webkit-flex-direction: column;
}

/*the top bar that holds the title
fixed to the top of the page*/
.top{
	height:80px;
	background-color: #FFDD00;
	font-weight: 300;
}

/*toggle holds the h1 that contains the title
it's to make sure the user has to hover over the title area to trigger
the start over link instead of the whole top div*/
.toggle{
	margin: 0 auto;
	width:300px;
}

/*two divs that each have an <h1> within
depending on the jquery and hover, one will be displayed and the other will be hidden
title is the title (Reelfindr)*/
#mTitle{
	left:0;
	right:0;
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

/*clicking this will return the user to the reelfindr main page
so it says start over*/
#mRestart{
	left:0;
	right:0;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	display:none;
}

/*the center div that holds all the content depending on the page
flex box!!*/
.content{
	display: -webkit-flex;
	-webkit-flex-direction:column;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	-webkit-flex: 1 1 auto;

	padding: 20px;
	text-align:center;
}

/*the footer holds the social media icons
fixed to the bottom of the page*/
.footer{
	text-align:right;
	background:black;
	padding: 5px 0px 5px 0px;
	height:70px;
}

/*gives the social media icons a little bit of padding*/
.foot{
	margin-right:20px;
}

/*gives each social media button a bit of padding*/
img[src$=".png"]{
	padding-right:10px;
}


/*DIVS ON PAGE ONE (QUIZ PAGE)*/
/*form is set to 100% width so the slider isn't compressed*/
form{
	width:100%;
}

/*this div only shows a certain height and the rest (overflow) is hidden
which allows only one question to be displayed at once
height is dynamic, but an initial height is set so it doesn't look
weird for a few seconds before the js loads*/
.overflow{
	display: -webkit-flex;
	-webkit-flex-direction: column;
	height:300px;
	overflow:hidden;
}

.question{
	padding:30px 0px 30px 0px;
}

/*the input text areas which the buttons set the value of
are all hidden to hide the fact that the whole thing is
a web form...*/
#genre, #decade, #sfx, #pg, #minYear,#maxYear{
	display:none;
}

/*a div that shows what year the user has chosen
it is changed dynamically by the slider's jquery.*/
#chosenYears{
  font-size:3em;
  padding-bottom: 30px;
}

/*canvas code being modified*/
#myCanvas{
	padding-bottom: 0;
	width:100%;
	height:100%;
}

.hideCanvas{
	display:none;
}

/*button-area is a flex box that displays 10 items (buttons) on the genre div.
width is fixed for web size because it makes a nice cube*/
.button-area{
	display: -webkit-flex;
	-webkit-flex-direction: row;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-webkit-flex-grow: 1;

	width:600px;
	margin: 10px auto;
  padding: 1em 2.4em;

  font-size: .9em;
  color: white;
  text-decoration: none;
}

/*similar to button area, though there is no set size, and the justify
content is different so the buttons aren't so spaced apart*/
.yn-button-area{
	display: -webkit-flex;
	-webkit-flex-direction: row;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	-webkit-flex-grow: 1;

  font-size: .9em;
  color: white;
  text-decoration: none;
}

/*there are three buttons that use this code;
the first button to start, the last button of the form
to submit, and the try again button if no results are found
slight differences from the other button.
this one has no increase size on hover animation*/
.button, #end {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	padding: 15px;
	border: 4px solid #000;

  background-color: white;
  font-size: 2em;
  letter-spacing: 3px;

  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
}

.button:hover, #end:hover{
  background-color: black;
  color: white;
}

/*all the questions use this button
the size increases on hover
a set width is given so all the buttons are the same
which makes them look nicer...*/
.genreBtn{
	cursor: pointer;
	display: block;
	margin: 8px 5px;
	padding: 14px;
	border: 3px solid #000;
	width:170px;

	background-color: white;
  font-size: 1.6em;
  letter-spacing: 3px;

	-webkit-transition-property: color, background-color;
	-webkit-transition: 0.3s ease-in-out;
}

.genreBtn:hover{
	transform: scale(1.1);
	background-color: black;
	color: white;
}

/*the slider!! we used a framework so there is a lot of code.*/
#flat-slider{
	margin:auto;
	width:70%
}

/*color of inactive pips*/
[id*=flat-slider].ui-slider,
[id*=flat-slider].ui-slider .ui-slider-pip .ui-slider-line {
  background: yellow;
}

/*changes border of slider handle*/
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-hover,
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-focus,
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-active {
  border-color: black;
}

/*background of the inactive portion of the slider main bar*/
#flat-slider.ui-slider {
  background: #CCC;
  border: none;
}

/*slider handle properties*/
#flat-slider.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 0;
  border-color: transparent;
  transition: border 0.4s ease;
}

/*the small floating slider handle is actually rotated to fit on the line*/
#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  top: -25px;
  background:black;
  margin-left: -10px;
}

/*the pip/ticks animation for the inactive area*/
#flat-slider.ui-slider .ui-slider-pip .ui-slider-line {
  background: #FFDD00;
  transition: all 0.4s ease;
}

/*height of the slider bar*/
#flat-slider.ui-slider.ui-slider-horizontal {
  height: 6px;
}

/*labels on the slider (the two years)*/
#flat-slider.ui-slider .ui-slider-pip .ui-slider-label {
    color:black;
		font-size: 30px;
    padding-top: 30px;
    margin-bottom:30px;
	}

/*distance from pips to slider*/
#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
  top: 10px;
}

/*the shorter pips that are inactive*/
#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
  width: 2px;
  height: 6px;
  margin-left: -1px;
}

/*the longer pips of selected years*/
#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
  height: 20px;
}

/*the longer pips between the selected years*/
#flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  height: 12px;
}

/*color of pips in the selected range*/
#flat-slider .ui-slider-range,
#flat-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
#flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  background-color: #000;
}


/*DIVS ON PAGE TWO (RESULTS PAGE)*/
/*this div displays the results
need to set width since its contents are made dynamically*/
.results{
	width:100%;
}

/*items is a long div that contains ITEM
one ITEM is made per movie found*/
.items{
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	-webkit-align-items:center;
}

/*the movie posters are flexible in order to fit
the item div's padding etc.*/
.item img{
	width:100%;
	height:100%;
}


/*the following 3 divs are created dynamically*/
/*title div contains the title of the movie*/
.title{
	margin:0 auto;
	padding-top:50px;

	letter-spacing: 4px;
  font-size: 3.5rem;
	font-weight:600;
}

/*dir div contains the director of the movie*/
.dir{
	margin:0 auto;
	padding:10px 0px 30px 0px;

	letter-spacing: 4px;
  font-size: 2.5rem;
 	font-weight:400;
}

/*summary div contains the summary of the movie*/
.summary{
  margin:0 auto;
	width:70%;

	text-align:left;
  font-size: 2rem;
	letter-spacing: 1px;
	line-height: 40px;
	text-transform:none;
}

/*scroller css!!
the scroller is what allows the user to scroll through movies on hover*/
.scroller {
  width: 100%;
  height: 268px;
  position: relative;
  overflow:hidden;
}

/*makes the movie images display properly*/
.scroller .items {
  height: 100%;
  position: absolute;
}

/*each individual movie item which is displayed in a line*/
.scroller .item {
  margin-left: 10px;
  float: left;
  width: 150px;
  height: 221px;
	-webkit-transition: width 1s, height 1s;
}

/*this is added when not scrolling so the items has a scrolling animation on click*/
.scrollMiddle{
	-webkit-transition: left 1s;
}

/*these show the gray bar on hover*/
.scroller .scroll {
	position: absolute;
	padding-top: 104px;
	height: 100%;
  width: 100px;
	z-index: 2000;
	visibility: hidden;

  background-color: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  color: white;
}

/*hide the scroller until you scroll on it*/
.scroller:hover .scroll {
  visibility: visible;
}

/*moves the right scroller to the far right*/
.scroller .scroll.right {
  right: 0px;
}

/*hovering over the movie poster will increase their size
important allows the items to be hovered no matter what
since it changes once you click on it*/
.item:hover{
	width: 182px !important;
  height: 268px !important;
}

/*the animation for the actual scrolling part which is triggered and timed by jquery*/
@-webkit-keyframes left_scroll {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes right_scroll {
  0% {
    right: 0px;
  }
  100% {
    right: 100%;
  }
}
